<template>
  <div>
    <h2>App</h2>
    <p>{{ 'Account: ' + account }}</p>
    <button
      type="button"
      @click="metamask.getAccount"
    >
      {{ 'Connect MM' }}
    </button>
  </div>
</template>

<script setup>
import { useMetamask } from '../js/stores/metamask.js';
import { computed, onMounted } from 'vue';

const metamask = useMetamask();

const account = computed(() => {
  return metamask.currentAccount
})

onMounted(() => {
  if (metamask.provider) {
    metamask.startApp();
    metamask.handleChainID();
  } else {
    console.log('Please install Metamask')
  }
})
</script>

<style scoped>
</style>
