<template>
  <div>
    <Metamask />
  </div>
</template>

<script setup>
import { onMounted } from 'vue';
import Metamask from './components/Metamask.vue'

onMounted(() => {
  console.log('WE: ', window.ethereum)
})
</script>

<style scoped>
</style>
